.smurf-list {
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .smurf-list h3 {
    border-bottom: 1px solid black;
    width:50%;
    margin-left: 25%;
} */
